html{
  background: linear-gradient(
    0deg,
        rgb(0, 0, 0) 10%,
        rgb(23, 3, 114) 20%,
        rgb(49, 49, 49) 90%
        );
        height: 170%;
        width: 100%;
       background-repeat: no-repeat;
}

body {
  margin: 0;
  padding: 0;
  scroll-padding-top: 200%;
  scroll-behavior: smooth;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

header {
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 1px 4px hsl(0 4% 15% /10%);
  background-color: transparent;
  position: fixed;
}

nav{
  background: linear-gradient(
      0deg,
      rgb( 49, 49, 49 ) 8%,
      rgb( 0, 0, 0 ) 60%
  );
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 1.5%;
  padding-top: 0.75%;

}

li{
    list-style: none;
    display: inline;
    padding: 2.6%;
    padding-right: 3%;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    
}

a{
  color: rgb(40, 88, 121);
  text-decoration: none;
  font-size: x-large;
  
}


.logo {
  font-size: 17px;
  color: white;
  font-weight: 400;
}

#cart-icon {
  font-size: 28px;
  cursor: pointer;
  color: white;
}

.etelek {
  padding: 256px 40px 48px 40px;
}


.highlight:hover{
  background-color: rgb(30, 30, 99);
  transition: 0.9s;
}

.highlight{
  margin-left: 0.6%;
}

a:hover{
  color: rgb(81, 39, 119);
  transition: 0.9s;
}

.loginimg{
  margin-left: 25%;
}

img{
  opacity: 0.8;
}

img:hover{
  opacity: 1;
  transition: 0.4s;
}

span {
  display: block;
  color: white;
}

.dropdown {
  position: relative;
  display: none;
  padding: 2%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  margin-right: 1%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: list-item;
}


@media only screen and (max-width: 1200px){
  li{
      padding: 0.6%;
      padding-right: 1%;
      padding-left: 0;
  }

  .dropdown {
      display: inline-block;
      margin-left: 55%;
      height: 25px;
    }

    a{
      font-size: 200%;
    }

  .highlight{
      display: none;
  }
     .main{
      height: auto;
     }
     .ajanlatok{
      height: 30%;
      width: 60%;
     }
     .loginimg{
      margin-left: 10%;
     }
     
}